body {
    margin: 0;
    font-family: sans-serif;
    }  
.main-navigation {
    display: inline;
    }
.main-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     }
    .container{
        max-width:860px;
        margin: auto;
        }
    .main-menu-item{
        text-decoration: none;
        display: inline;
        }
    .main-menu-link{
        display:inline;
        text-decoration: none;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; /* 24.3px */
        }
    .image{
        width: 100%;
     }
    .content-title{
        margin: 0;
        align-self: stretch;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%; /* 64.8px */
        }
    .content-text{
        color: #161616;
        font-family: Inter;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 31.5px */
        }
        .list-text{
            margin-top:24px;
        }
     .text-highlighted{
        color: #04959E;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 150%;
     }
     .content{
        padding: 88px 0px;
     }
.content-inner{
    margin: 40px 0;
}
.item-text{
   
    color: #161616;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.btn{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 24.3px */
background: #04959E;
display: flex;
padding: 10px 24px;
justify-content: center;
align-items: center;
margin: auto;
}
.text{
    display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
color: #161616;
text-align: right;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}